  <!-- Go To Top
  ============================================= -->
  <div id="gotoTop" class="icon-angle-up"></div>


		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">

				<div class="container clearfix">
					<div class="col_half col_last tright">
						<div class="copyrights-menu copyright-links fright clearfix">
							<a href="index.php">Accueil</a>/<a href="login.php">Login</a>
						</div>						
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

	</div>

<script src="/js/jquery.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/functions.js"></script>
</body>
</html>